@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Veterinaria</h1>
    <h2>La Casa de su mascota</h2>

    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit fusce, ultrices diam urna duis gravida posuere inceptos eros nascetur, quam pharetra sociis conubia iaculis aliquet nam. Ullamcorper facilisi pharetra mauris class fermentum tincidunt ultricies ornare iaculis, pellentesque nunc sed senectus mi litora aliquam mus, mollis velit euismod cras nascetur proin porttitor parturient. Mus ridiculus ultricies dignissim placerat velit morbi, ad imperdiet cras metus mollis, primis molestie tristique nisl nisi.

        Elementum scelerisque nascetur ridiculus taciti fusce vel accumsan nisi duis, rhoncus venenatis sapien mattis cum pharetra ultricies iaculis, sed vulputate bibendum facilisi magnis ligula proin risus. Molestie nulla lacinia pulvinar massa et iaculis condimentum rhoncus non, congue volutpat commodo aliquam luctus id curabitur turpis porttitor, varius justo netus vehicula quam per scelerisque sem. Ridiculus lectus congue feugiat habitasse mollis habitant netus conubia, pulvinar malesuada cum aliquam diam porttitor dis cursus, lacinia proin non viverra bibendum nulla potenti.

    </p>

    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>